body {
    margin: 0;
    background:#313638;
}
h3{
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size:2.5rem;
    font-style: normal;
    text-align: center;
    color: #E0DFD5;
    margin:50px 0 80px 0;
}
h4{
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 10rem;
    margin:auto;
}
p{
    margin:auto;
}
.container {
    display: flex;
    justify-content: space-around;
    margin:100px auto;
    background:#F06543;
    width:1000px;
    height:700px;
    border-radius: 25px;
    border:5px solid #BD320F;
}

.score{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width:400px;
    height:210px;
    background: #F09D51;
    border:10px solid #E8E9EB;
    border-radius:25px;
}
#score-home{
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 10rem;
    margin:auto;
    color:#E0DFD5;
}
#score-away{
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 10rem;
    margin:auto;
    color:#E0DFD5;

}
.add-points-container{
    text-align: center;
    margin:150px 0;
}

.add-points{
    width:80px;
    height:80px;
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 2rem;
    background: #F09D51;
    margin: 0 10px;
    padding:auto;
    border:1px solid #E0DFD5;
    border-radius: 15px;
    color:#E0DFD5;
}
